@tailwind base;
@tailwind components;
@tailwind utilities;

.testimonial-swiper .swiper-button-next,
.testimonial-swiper .swiper-button-prev {
  color: var(--swiper-theme-color);
}

.testimonial-swiper .swiper-pagination-bullet-active {
  background-color: var(--swiper-theme-color);
}

:root {
  --swiper-theme-color: #007aff;
}

.dark-mode {
  --swiper-theme-color: #ffffff;
}
